mixin head(title)
  title= title
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")    
  meta(charset="utf-8")
  link(href="/imgs/favico.jpg" rel="icon")
  link(rel='stylesheet', media="screen" href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', media="screen" href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', media="screen" href='/stylesheets/style.css')
  link(rel='stylesheet', media="screen" href='/stylesheets/responsive.css')
  link(rel='stylesheet', media="screen" href='/stylesheets/highlight.css')
  link(rel='stylesheet', media="screen" href='/stylesheets/google-fonts.css')
  script(src="/javascripts/jquery-2.0.3.min.js")
  link(rel='stylesheet', href='/stylesheets/prettify.css')
  script(src="/javascripts/prettify.js")
  