extends layout
block content
  .archive
    h4.archive-ul.show(data-toggle="collapse" data-target="##{the_cat}")= the_cat
      b.caret
    ul.collapse.in(id="modal-#{the_cat}")
      each post, i in posts
        li.listing-item
          a(href="/#{post.uri}")= post.title
