doctype html
html
  head
    // head start
    include ./include/head.jade
    mixin head(title)
    // head end
  body
    // header search etc.
    include ./include/header.jade
    // header end
    // leaf-nav start
    include ./include/leaf_nav.jade
    mixin leaf_nav(theme.menu)
    // leaf-nav end
    block content
    // rocket
    #rocket-to-top(style="display:none;")
      .level-2(style="opacity:0; display:block")
      .level-3
    // rocket end
    // footer start
    footer.footer
      .container
        .row
          .hi-footer
            .leaf-foot-content
              p &copy; 2016 #{author} with help from <a href="http://orgmode.org/" target="_blank">Org-mode</a>.
    script(type="text/javascript" src="http://www.htmleaf.com/templets/default/js/leaf.js")
    // footer end
    
    