extends layout
block content
  .archive
    each tag, i in site.tags
      h4.archive-ul.show(data-toggle="collapse" data-target="##{i}")= i
        b.caret
      ul.collapse.in(id="modal-#{i}")
        each post, i in tag
          li.listing-item
            a(href="/#{post.uri}")= post.title
          