mixin head(title)
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="keywords" content="不务正业的程序猿")
  meta(name="description" content="记录工作中踩过的坑")
  title!= title
  link(rel="stylesheet" href="/leaf/css/common.css") 
  link(rel="stylesheet" href="/leaf/css/bg.css") 
  // Favicons
  link(rel="shortcut icon" href="http://www.htmleaf.com/favicon.ico")
  link(rel="apple-touch-icon" href="/leaf/images/ico/apple-touch-icon.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/leaf/images/ico/apple-touch-icon-72.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/leaf/images/ico/apple-touch-icon-114.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/leaf/images/ico/apple-touch-icon-144.png")