a#gotop(href="#")
  span= "▲"
script(src="/javascripts/jquery.imagesloaded.min.js")
script(src="/javascripts/gallery.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/main.js")
script(src="/javascripts/search.js") 
link(rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen")
script(src="/fancybox/jquery.fancybox.pack.js")
script(src="/javascripts/test.js")