mixin head(title)
  title= title
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")    
  meta(charset="utf-8")
  link(href="http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/imgs/favico.jpg" rel="icon")
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/font-awesome.css')
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/style.css')
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/responsive.css')
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/highlight.css')
  link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/google-fonts.css')
  script(src="http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/javascripts/jquery-2.0.3.min.js")
  link(rel='stylesheet', href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/prettify.css')
  script(src="http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/javascripts/prettify.js")
  